/* Colors module
============================================================
========================================================= */

// Primary
$blue: 			#024562;
$green: 		#249B7A;
$orange: 		#FC913A;
$red: 			#F25A43;
$gray:			#454545;

// Brands
$facebook: 		#438acb;
$twitter: 		#5cbde9;

// Elements
$body: 			#fff;
$button: 		$blue;
$buttonHover:	lighten($blue, 10%);
