/* COLORS
====================================================
==================================================== */

$body: #fff;
$blue: #024562;
$green: #249B7A;
$orange: #FC913A;
$red: #F25A43;
$facebook: #438acb;
$twitter: #5cbde9;

$button: $blue;