/* Layouts
============================================================
========================================================= */

// Header
@import "../layouts/header";

// Homepage
@import "../layouts/home";

// Footer
@import "../layouts/footer";
