/*  Responsive media queries
============================================================
========================================================= */

/* 1280
========================================================= */
@media all and (max-width: 1280px) {
}

/* 1000
========================================================= */
@media all and (max-width: 1000px) {
}

/* 900
========================================================= */
@media all and (max-width: 900px) {
}

/* 800
========================================================= */
@media all and (max-width: 800px) {
}

/* 768 (Mobile Break)
========================================================= */
@media all and (max-width: 768px) {
}

/* 640
========================================================= */
@media all and (max-width: 640px) {
}

/* 400
========================================================= */
@media all and (max-width: 400px) {
}

/* 360
========================================================= */
@media all and (max-width: 360px) {
}
