/* Start of styles | Defaults
============================================================
========================================================= */

html, body { width: 100%; height: 100%; } 

body {
	overflow-x: hidden;
    // font-family: 'Ubuntu', sans-serif;
	// font-weight: 300;
    font-size: em(16);
    color: #666;
	background: $body;
}

sup, sub {
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup { top: -0.5em; left: 0.15em; }
sub { bottom: -0.25em; }

strong { font-weight: 600; }

a {
	text-decoration: none;
	&:hover { text-decoration: underline; }
}

canvas { display: block; vertical-align: bottom; }
